.courses_list {
  li {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
  }
  p {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
