.lang_list {
    width: 75vw;
    list-style: none;
    display: flex;

    @media (min-width:1025px) {
        justify-content: left;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 10vw;
        display: flex;
        justify-self: unset;

    }

    h3 {
        width: 75vw;
        font-size: 3vh;
        text-align: start;
    }


}