.lang_list {
  width: 75vw;
  list-style: none;
  display: flex;

  @media (min-width: 1025px) {
    justify-content: left;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 10vw;
    display: flex;
    justify-self: unset;
  }

  h3 {
    width: 75vw;
    font-size: 3vh;
    text-align: start;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .columns,
  .content,
  fieldset {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 2vh;
  }

  .langQuery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .dList {
    width: 10%;
  }

  .langQ {
    display: flex;

    width: 100%;
    p {
      justify-content: flex-start;
      margin-left: 1vw;
      margin-top: 0vh;
      margin-bottom: 0.5vh;
    }
  }

  .columns {
    font-size: 3vh;
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 1vw;
    }
  }
  .content {
    flex-direction: column;
  }
}
