.tutorial {
    display: flex;
    flex-direction: column;
    background-color: var(--element-bg);
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    height: auto;

    .content {
        width: 80vw;
    }
}