.description {
    display: flex;
    flex-direction: column;
    background-color: #1a1d22;
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:calc(35vh + 75px);

    p {
        line-height: 4vmin;
        p {
            padding-left: 3px;
            padding-right: 3px;
            white-space: nowrap;
        }
        .dev {
            color: rgb(240, 42, 42);
        }
        .rust {
            color: #d45404;
        }
        .python {
            color: #306998;
        }
        .js {
            color: #f0db4f;
        }
        .ts {
            color: #1573C1;
        }
        .cpp {
            color: #D26383;
        }
        .react {
            color: #61DBFB;
        }
        .sass {
            color: #C26191;
        }
        .mongodb {
            color: #07AC4F;   
        }
        .linux {
            color: #FFD134;
        }
        .windows {
            color: #0178D4;
        }
        .manjaro {
            color: #15987E;
        }

        .spin {
            animation: spin 3s linear infinite;
        }
        .jump {
            animation: jump 0.5s linear infinite;
        }
        display: inline;
        width: 66vw;
        font-size: calc(5px + 2vmin);
    }
    h1{
        margin: 0;
    }

}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

@keyframes jump {

    0% {transform: translateY(-0px);}
    10% {transform: translateY(-5px);}
    20% {transform: translateY(-9px);}
    30% {transform: translateY(-12px);}
    40% {transform: translateY(-14px);}
    50% {transform: translateY(-15px);}
    60% {transform: translateY(-14px);}
    70% {transform: translateY(-12px);}
    80% {transform: translateY(-9px);}
    90% {transform: translateY(-5px);}
    100% {transform: translateY(-0px);}
    
}