.tutoring {
    display: flex;
    flex-direction: column;
    background-color: #1a1d22;
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;

    p {
        width: 75vw;
    }
}

.courses_list {
    display: flex;
    flex-direction: row;

    li {
        list-style: none;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;

        @media (min-width:1025px) {
            margin-right: 20px;
            margin-left: 0px;
            margin-top: 0px;
        }

        font-size: 30px;
        font-weight: 300;
        cursor: pointer;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 8px;
        padding: 5px;
    }

    li:hover {
        background-color: rgba(131, 131, 131, 0.5);
    }


    a {
        text-decoration: none;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}