.tool {
    display: flex;
    flex-direction: column;
    background-color: #1a1d22;
    margin-top: 5vh;
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    .content {
        width: 75vw;
        display: flex;
    }
}