.dev {
    color: #f02a2a;
}
.rust {
    color: #d45404;
}
.python {
    color: #306998;
}
.js {
    color: #f0db4f;
}
.ts {
    color: #1573C1;
}
.cpp {
    color: #D26383;
}
.react {
    color: #61DBFB;
}
.sass {
    color: #C26191;
}
.mongodb {
    color: #07AC4F;   
}
.linux {
    color: #FFD134;
}
.windows {
    color: #0178D4;
}
.manjaro {
    color: #15987E;
}
.docker {
    color: #0397F5;
}
.shell {
    color: #499355;
}